<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div id="blogFormDiv">
    <div class="panel">
        <div class="card">
            <form>
                <div class="card-header paper-header">
                    <div class="form-group">
                        <input type="text" id="title" placeholder="Title" autocomplete="off" class="form-control"
                               name="title" width="727px"/>
                    </div>
                </div>
                <div class="col-md-8 mt-5">
                    <div class="form-group">
                            <textarea type="text" rows="4" id="content" placeholder="Content" class="form-control"
                                      name="content" autocomplete="off"></textarea>
                    </div>

                    <button class="btn btn-primary" type="button" onclick="postBlog();">Post</button>
                    <br>
                </div>
            </form>
            <br>
        </div>
    </div>
</div>
<script th:src="@{/js/blogform.js}"></script>
<script>
    $('#content').summernote({
        height: 200
    });
</script>
</html>