<div id="contactTemplateDiv">
    <div class="panel">
        <div class="card">
            <h1 class="card-header">Contact Us!</h1>
            <div class="card-body">
                <table class="table">
                    <tr>
                        <th><i class="fa fa-phone" aria-hidden="true"></i> Phone Number</th>
                        <td>(123) 456-7890</td>
                    </tr>
                    <tr>
                        <th><i class="fa fa-envelope-open-o" aria-hidden="true"></i> E-Mail</th>
                        <td>contact@peppergarden.com</td>
                    </tr>
                    <tr>
                        <th><i class="fa fa-map-marker" aria-hidden="true"></i> Address</th>
                        <td>1223 Capsaicin Drive, Pennsylvania, United States</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
