<script src="../js/dictionary.js"></script>
<h1>Welcome to the Pepper Dictionary!</h1>
<div id="mydata">
    <table id="myTableData"  border="1" cellpadding="2" class="table">
        <tr>
            <th scope=""col>&nbsp;</th>
            <th scope="col"><b>Name</b></th>
            <th scope="col"><b>Species</b></th>
            <th scope="col"><b>Minimum Scoville Range</b></th>
            <th scope="col"><b>Maximum Scoville Range</b></th>
            <th scope="col"><b>Origin</b></th>
        </tr>
    </table>
    &nbsp;

</div>