<script src="../js/dictionary.js"></script>
<h1>Pepper Dictionary</h1>
<div id="mydata" class="container">
    <br>
    <input class="form-control" id="myInput" type="text" placeholder="Search..">
    <br>
    <table id="myTableData"  border="1" cellpadding="2" class="table table-striped table-bordered">
        <tr id="header">
            <th scope="col">&nbsp;</th>
            <th scope="col">Name</th>
            <th scope="col">Species</th>
            <th scope="col">Scoville Range</th>
            <th scope="col">Origin</th>
        </tr>
    </table>
    &nbsp;

</div>