<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Pepper Garden</title>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script type="text/javascript" th:src="@{/js/login_register.js}"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
</head>
<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
        <a class="navbar-brand" href="/">Pepper Garden</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" id="dashNav" href="">Dashboard
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/peppers">Pepper Database</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/profile">Profile</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">

    <div class="row mainPanels" id="loginDiv">
        <div class="col-md-4 mt-5">
            <h3>Login page</h3>
            <form id="loginForm">
                <div th:if="${param.error}">
                    <div class="alert alert-danger">Invalid username or password.
                    </div>
                </div>
                <div th:if="${param.logout}">
                    <div class="alert alert-info">You have been logged out.</div>
                </div>
                <div class="form-group">
                    <label for="username">Username</label>: <input type="text" id="username" name="username"
                                                                   class="form-control" autofocus="autofocus"
                                                                   placeholder="Username"/>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>: <input type="password" id="password" name="password"
                                                                   class="form-control" placeholder="Password"/>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3">
                            <button type="submit" class="form-control btn btn-primary">Login</button>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <span>New user? <a href="" id="registerLink">Register Here </a></span>
                </div>
            </form>
        </div>
    </div>
    <div class="row mainPanels" id="registerDiv" style="display: none">
        <div class="col-md-4 mt-5">
            <h3>Register page</h3>
            <form id="registerForm">
                <div th:if="${param.error}">
                    <div class="alert alert-danger">Invalid username or password.
                    </div>
                </div>
                <div th:if="${param.logout}">
                    <div class="alert alert-info">You have been logged out.</div>
                </div>
                <div class="form-group">
                    <label for="signup_username">Username</label>: <input type="text" id="signup_username" name="username"
                                                                   class="form-control" autofocus="autofocus"
                                                                   placeholder="Username"/>
                </div>
                <div class="form-group">
                    <label for="signup_password">Password</label>: <input type="password" id="signup_password" name="password"
                                                                   class="form-control" placeholder="Password"/>
                </div>

                <div class="form-group">
                    <label for="signup_email">e-Mail</label>: <input type="email" id="signup_email" name="email"
                                                              class="form-control" placeholder="e-Mail"/>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3">
                            <button type="submit" class="form-control btn btn-primary">Register</button>
                        </div>
                    </div>
                </div>
                <input type="hidden" id="signup_roles" value="user"/>
                <div class="form-group">
                    <span>Already a user? <a href="" id="loginLink">Login Here </a></span>
                </div>
            </form>
        </div>
    </div>

    <div class="row mainPanels" id="dashboardDiv" style="display: none">

    </div>
</div>
</div>

</div>




</body>
</html>
