<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div class="panel">
    <div class="card" id="viewProfile">
        <h4 class="card-header"><span class="userdisplay"></span>'s Profile</h4>
        <div class="card-body paper-body">
            <table style="float: right">
                <tr>
                    <td>
                        <span id="profilePicture"><img th:src="@{/images/default.jpg}" height="200px" width="200px" alt="profile picture"></span>
                    </td>
                    <td>
                        <table class="table" id="profileDetailTable">
                            <tr>
                                <th>Zip Code:</th>
                                <td><span id="profileZipCode"></span></td>
                            </tr>
                            <tr>
                                <th>Hardiness Zone:</th>
                                <td><span id="profileZone"></span></td>
                            </tr>
                            <tr>
                                <th>Description:</th>
                                <td><span id="profileDescription"></span></td>
                            </tr>
                        </table>
                        &nbsp;&nbsp;<button type="button" class="btn" id="openEdit">Edit</button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

<div id="dashboardTemplateDiv">
    <div class="panel">
        <div class="card" id="editProfile" style="display: none">
            <h1 class="card-header">Edit your Profile, <span class="userdisplay"></span>!</h1>
            <div class="card-body">
                <form method="POST" action="/api/userProfile/photos/add" enctype="multipart/form-data" id="profileForm">
                    <input type="text" name="id" id="id-input" style="display: none">

                    <label for="image-input">Profile Picture:</label><br>
                    <input type="file" name="image" id="image-input" accept="image/*" /><br>
                    <br>
                    <label for="zipCode-input">Zip Code:</label><br>
                    <input type="text" name="zipCode" id="zipCode-input">
                    <br><br>
                    <label for="hardinessZone-input">Hardiness Zone:</label><br>
                    <input type="text" name="hardinessZone" id="hardinessZone-input" style="color: green; background-color: lightgrey" readonly><br>
                    <br>
                    <label for="description-input">Description:</label><br>
                    <input type="text" name="description" id="description-input" style="display: none">
                    <textarea form="profileForm" rows="4" cols="50" id="unfiltered-description-input" name="unfiltered-description" placeholder="Enter something about yourself here..."></textarea><br>
                    <br>
                    <button type="button" id="updateProfileButton" disabled>Update</button>
                    <button type="button" id="closeEdit">Go Back</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/js/profile.js}"></script>
</html>